git+https://github.com/XtomiX/pyrogram
tgcrypto
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
Pillow==10.0.1
pymediainfo
opencv-python-headless
requests
unidecode
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
pyromod==1.1
openai
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
